.jumbotron {
  padding-top: 6rem;
  background-color: #d1dff5;
}

.jumbotron img {
  border-radius: 30px;
}

.jumbotron h1 {
  color: #000000;
}
#panduan {
  background-color: #d1dff5;
}

section {
  padding-top: 5rem;
}
